<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hotel Booking System</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="container">
    <h1>Hotel Booking System</h1>

    <p>Welcome to G3 HSF302 Hotel Booking System.</p>

    <ul>
        <li><a th:href="@{/login}">Login</a></li>
        <li><a th:href="@{/register}">Register</a></li>
    </ul>
</div>

<div th:replace="~{layout/footer :: footer}"></div>

</body>
</html>
